
.jumbotron{
    background-color:  transparent;

}
body{

  background-image : url(../images/fundo.png) ;
  background-repeat: no-repeat;
}
p{
  color:rgb(0, 0, 0);
    border-width: 2px 2px 2px 2px; 
    border-style: solid solid solid solid; 
    border-color: rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0) rgb(0, 0, 0); 
    padding: 3%;
    background-color: rgb(179, 201, 243);
    border-radius: 10px ;
}
h2{
  color:rgb(255, 255, 255);
}
h3{
  color:rgb(0, 12, 12);
}
button{
  
}
